.dateBox {
  position: relative;
  width: 550px;

  &::after {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    content: url(../../../../public/calendar.png);
    top: 0;
    background-color: #ededed;
    width: 30px;
    height: 96%;
    border: none;
    border-radius: 1px;
    border-bottom: 3px solid #959595;
    pointer-events: none;
  }

  input {
    border: none;
    border-radius: 1px;
    border-bottom: 3px solid #959595;
    height: 50px;
    padding: 26px 14px 7px 14px;
    font-weight: 500;
    font-size: 16px;
    color: #5c5c5c;
    width: 100%;
    color: #959595;

    &:hover {
      background-color: #fdfae4;
      cursor: pointer;
    }
  }

  label {
    position: absolute;
    left: 14px;
    top: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #3274ff;
  }
}

@media (width < 420px){
    .dateBox{
        input{
            font-size: 14px;
        }
    }
}
