.table {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cccccc;
  max-height: 630px;
  padding: 2px;

  .table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #666666;
    font-size: 15px;
    padding: 0 0 2px 0;

    .table-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #ededed;
    }

    .table-cell-end {
      background-color: #ededed;
      width: 5px;
      height: 100%;
    }
  }

  .table-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

    .table-row {
      display: flex;

      &:nth-child(odd) .table-cell {
        background-color: #F5F5FF;
      }
      &:nth-child(even) .table-cell {
        background-color: #FAFAFF;
      }

      &:hover .table-cell {
        background-color: black;
        color: white;
      }

      .table-cell {
        display: flex;
        align-items: center;
        font-family: "oswald";
        font-weight: 400;
        color: #979797;
        padding: 10px;
        font-size: 15px;
        height: 70px;
      }
    }
  }
}
