.table {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 63px;
    height: 630px;
    gap: 2px;
    padding: 2px 2px 0 2px;
    margin-bottom: 45px;
    border: 1px solid #CCCCCC;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: #ededed;
        padding: 2px;
        left: 2px;
        color: #666666;
        font-size: 15px;
        

        .table-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            height: 70px;
            padding: 10px;
            font-size: 16px;
        }

        .table-cell-end {
            background-color: #ECECEC;
            width: 5px;
            height: 35px;
        }
    }

    .table-detail {
        display: flex;
        flex-direction: column;
        gap: 2px;
        overflow: hidden;
        overflow-y: scroll;
        height: calc(100% - 35px - 2px);
        color: #959595;

        .table-row {
            display: flex;
            gap: 2px;

            &:nth-child(odd) .table-cell {
                background-color: white;
            }

            &:hover .table-cell {
                background-color: black;
                color: white;
            }

            .table-cell {
                display: flex;
                align-items: center;
                font-family: 'oswald';
                font-weight: 200;
                font-size: 18px;
                color: #979797;
                height: 70px;
                padding: 10px;
                font-size: 16px;
            }
        }
    }
}