.header_bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 4px 5px -2px #666666;

    h2{
        font-size: 24px;
        font-weight: 400;
    }
}


@media (width < 1200px){
    .header_bottom{
        height: 170px;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 47px;
        padding-bottom: 15px;
        
        
    }
}

