.body {
    justify-content: center;
    height: 100vh;
    gap: 15px;
}

.table {
    div[class*="table-header"] {
        gap: 2px;
        div[class*="table-cell"] {
            &:nth-child(1) {
                width: 50px;
            }
            &:nth-child(2) {
                width: 90px;
            }
            &:nth-child(3) {
                width: 348px;
            }
            &:nth-child(4) {
                width: 70px;
            }
        }
    }

    div[class*="table-detail"] {
        div[class*="table-row"] {
            div[class*="table-cell"] {
                &:nth-child(1) {
                    width: 50px;
                }
                &:nth-child(2) {
                    width: 90px;
                }
                &:nth-child(3) {
                    width: 348px;
                }
                &:nth-child(4) {
                    width: 70px;
                }
            }
        }
    }
}

.textBoxBuscar{
    width: 350px;      
}
.comboBoxSuc{
    width: 220px;
}
.dateBoxFecha{
    width: 138px;
}

.textBoxSearch {
    width: 541px;
}
.capsule {
    width: 184px;
}
.textBoxRut {
    width: 140px;
}
.textBoxName {
    width: 300px;
}
.textBoxEmail {
    width: 300px;
}
.textBoxPhone {
    width: 140px;
}
.comboBoxForma{
    width: 220px;
}
.comboBoxSize{
    width: 220px;
}
.comboBoxMasa{
    width: 220px;
}
.comboBoxSabor{
    width: 220px;
}
.comboBoxRelleno{
    width: 220px;
}
.comboBoxCream{
    width: 220px;
}
.comboBoxExtra{
    width: 220px;
}
.textBoxMessage{
    width: 445px;
}
.textBoxAdi{
    width: 445px;
}
.comboBoxSuc{
    width: 266px;
}
.comboBoxDate{
    width: 160px;
}
.comboBoxHour{
    width: 100px;
}
.textBoxPrice{
    width: 130px;
}
.textBoxAbono{
    width: 131px;
}
.comboBoxPay{
    width: 266px;
}
.textBoxPaymentStatus{
    width: 266PX;
}
.textBoxOrderStatus{
    width: 266px;
}
.textBoxUser{
    width: 266px;
}
.textBoxDate{
    width: 160px;
}
.textBoxHour{
    width: 100px;
}

@media (width < 1200px) {
    .body {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height: auto;
        width: 405px;
        
    }

    .columns {
        flex-direction: column;
    }

    .content_cell {
        display: flex;
        align-items: center;
        
    }

    .content_row {
        width: 405;
        align-items: center;
    }

    .table {
        width: 400px;
        height: 330px;
       margin-top: 15px;

        div[class*="table-header"] {
            gap: 2px;
            div[class*="table-cell"] {
                &:nth-child(1) {
                    width: 50px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    width: 320px;
                }
                &:nth-child(4) {
                    width: 70px;
                }
            }
        }

        div[class*="table-detail"] {
            div[class*="table-row"] {
                div[class*="table-cell"] {
                    &:nth-child(1) {
                        width: 50px;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        width: 320px;
                    }
                    &:nth-child(4) {
                        width: 70px;
                    }
                }
            }
        }
    }
    
    .textBoxBuscar{
        width:calc(200px - 5px);    
    }
    .comboBoxSuc{
        width: 200px;
    }
    .dateBoxFecha{
        width: 355px;
    }

    .textBoxSearch {
        width: 275px;
    }
    .capsule {
        width: 120px;
    }
    .textBoxRut {
        width: 400px;
    }
    .textBoxName {
        width: 400px;
    }
    .textBoxEmail {
        width: 400px;
    }
    .textBoxPhone {
        width: 400px;
    }
    .comboBoxForma{
        width: calc(200px - 5px);
    }
    .comboBoxSize{
        width: 200px;
    }
    .comboBoxMasa{
        width: calc(200px - 5px);
    }
    .comboBoxSabor{
        width: 200px;
    }
    .comboBoxRelleno{
        width: 200px;
    }
    .comboBoxCream{
        width: calc(200px - 5px);
    }
    .comboBoxExtra{
        width: 400px;
        
    }
    .textBoxMessage{
        width: 400px;
    }
    .textBoxAdi{
        width: 400px;
    }
    .comboBoxSucursal{
        width: 400px;
    }
    .comboBoxDate{
        width: calc(200px - 5px);
    }
    .comboBoxHour{
        width: 200px;
    }
    .textBoxPrice{
        width: calc(200px - 5px);
    }
    .textBoxAbono{
        width: 200px;
    }
    .comboBoxPay{
        width: 400px;
    }
    .textBoxPaymentStatus{
        width: 400px;
    }
    .textBoxOrderStatus{
        width: 400px;
    }
    .textBoxUser{
        width: 400px;
    }
    .textBoxDate{
        width: calc(200px - 5px);
    }
    .textBoxHour{
        width: 200px;
    }
}
